In [31]:
import numpy as np
import pandas as pd

In [32]:
p1 = pd.read_csv("people_1.txt",delimiter = "\t")
p1

,FirstName,LastName,Email,Phone,Address
0,Matthew,Williams,Matthew.Williams@email.com,053-278-8309,No.0532 Williams Lane
1,MATTHEW,WILLIAMS,Matthew.Williams@email.com,0532788309,#0532 Williams Lane
2,MATTHEW,williams,Matthew.Williams@email.com,0532788309,0532 Williams Lane
3,Louise,Rodriguez,Louise.Rodriguez@email.com,553-981-1593,No.5539 Rodriguez Lane
4,Charles,Smith,Charles.Smith@email.com,523-381-5730,No.5233 Smith Lane
...,...,...,...,...,...
502207,Thomas,Anderson,Thomas.Anderson@email.com,938-083-6252,No.9380 Anderson Lane
502208,Charles,Moore,Charles.Moore@email.com,286-826-4978,No.2868 Moore Lane
502209,Louise,Gonzalez,Louise.Gonzalez@email.com,934-318-6603,No.9343 Gonzalez Lane
502210,Greta,Hernandez,Greta.Hernandez@email.com,407-170-9260,No.4071 Hernandez Lane
502211,Elizabeth,Moore,Elizabeth.Moore@email.com,454-738-0354,No.4547 Moore Lane

In [33]:
def clean(df):
    df = df.apply(lambda x : x.str.strip())
    df[['FirstName','LastName']] = df[['FirstName','LastName']].apply(lambda x : x.str.capitalize())
    df["Phone"]=df["Phone"].apply(lambda x: x.replace("-",""))
    df['Address'] = df["Address"].apply(lambda x: x.replace('No.','').replace('#',''))
    
    df = df.drop_duplicates()
    return df

In [34]:
cleaned_p1 = clean(p1)
cleaned_p1

,FirstName,LastName,Email,Phone,Address
0,Matthew,Williams,Matthew.Williams@email.com,0532788309,0532 Williams Lane
3,Louise,Rodriguez,Louise.Rodriguez@email.com,5539811593,5539 Rodriguez Lane
4,Charles,Smith,Charles.Smith@email.com,5233815730,5233 Smith Lane
5,Lisa,Jones,Lisa.Jones@email.com,8037591018,8037 Jones Lane
6,Greta,Jones,Greta.Jones@email.com,6796258398,6796 Jones Lane
...,...,...,...,...,...
502207,Thomas,Anderson,Thomas.Anderson@email.com,9380836252,9380 Anderson Lane
502208,Charles,Moore,Charles.Moore@email.com,2868264978,2868 Moore Lane
502209,Louise,Gonzalez,Louise.Gonzalez@email.com,9343186603,9343 Gonzalez Lane
502210,Greta,Hernandez,Greta.Hernandez@email.com,4071709260,4071 Hernandez Lane
502211,Elizabeth,Moore,Elizabeth.Moore@email.com,4547380354,4547 Moore Lane

In [35]:
p2 = pd.read_csv("people_2.txt",delimiter = "\t")
p2

,FirstName,LastName,Email,Phone,Address
0,Charles,Jackson,Charles.Jackson@email.com,593-500-2937,No.5935 Jackson Lane
1,CHARLES,JACKSON,Charles.Jackson@email.com,5935002937,#5935 Jackson Lane
2,CHARLES,jackson,Charles.Jackson@email.com,5935002937,5935 Jackson Lane
3,Louise,Anderson,Louise.Anderson@email.com,786-790-6529,No.7867 Anderson Lane
4,Sarah,Rodriguez,Sarah.Rodriguez@email.com,844-187-5552,No.8441 Rodriguez Lane
...,...,...,...,...,...
502086,Jake,Williams,Jake.Williams@email.com,196-246-7948,No.1962 Williams Lane
502087,Chance,Davis,Chance.Davis@email.com,792-217-3241,No.7922 Davis Lane
502088,Lisa,Jones,Lisa.Jones@email.com,297-528-2185,No.2975 Jones Lane
502089,Matthew,Jackson,Matthew.Jackson@email.com,655-819-5842,No.6558 Jackson Lane
502090,Lance,Jackson,Lance.Jackson@email.com,606-316-0561,No.6063 Jackson Lane

In [36]:
clean_p2 = clean(p2)
clean_p2

,FirstName,LastName,Email,Phone,Address
0,Charles,Jackson,Charles.Jackson@email.com,5935002937,5935 Jackson Lane
3,Louise,Anderson,Louise.Anderson@email.com,7867906529,7867 Anderson Lane
4,Sarah,Rodriguez,Sarah.Rodriguez@email.com,8441875552,8441 Rodriguez Lane
5,Thomas,Martinez,Thomas.Martinez@email.com,7230291383,7230 Martinez Lane
6,Ted,Davis,Ted.Davis@email.com,7087291033,7087 Davis Lane
...,...,...,...,...,...
502086,Jake,Williams,Jake.Williams@email.com,1962467948,1962 Williams Lane
502087,Chance,Davis,Chance.Davis@email.com,7922173241,7922 Davis Lane
502088,Lisa,Jones,Lisa.Jones@email.com,2975282185,2975 Jones Lane
502089,Matthew,Jackson,Matthew.Jackson@email.com,6558195842,6558 Jackson Lane
502090,Lance,Jackson,Lance.Jackson@email.com,6063160561,6063 Jackson Lane